@mixin respond($breakpoint) {
  @if $breakpoint == phone-sm {
    //400px
    @media (max-width: 31.25em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    //610px
    @media (max-width: 38.125em) {
      @content;
    }
  }
}

* {
  list-style: none;
  &,
  &:after,
  &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 62.5%;
  font-family: Noto Sans TC, sans-serif;
  overflow: -moz-hidden-unscrollable;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  -ms-overflow-style: none;
  overflow: auto;
  height: 100vh;
  background: url(../img/pexels-photo-9934306.jpeg);
  background-size: cover;
  // backdrop-filter: blur(1px);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include respond(phone) {
    // height: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  position: relative;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(phone) {
    text-align: center;
  }
}

.container-sm {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.heading {
  &__primary {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__secondary {
    font-size: 4rem;
  }

  &__tertiary {
    font-size: 2.5rem;
  }
}

.nav {
  text-align: center;
  padding: 4rem 0;
  background-color: #023047;
  color: #fff;

  &__btn {
    display: inline-blick;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border: 0.1rem solid #fff;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.c-box {
  text-align: center;
  margin: 4rem 0;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: #ffb703;

  &:hover {
    background-color: #e6a503;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translate(0.1rem, 0.1rem);
  }

  &__cta {
    color: #fff;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    box-shadow: -2px 3px 7px 1px #cc9202;

    // &:hover {
    //   background-color: #e6a503;
    // }

    // &:active {
    //   box-shadow: -1px 2px 5px 1px #cc9202;
    //   transform: translate(-0.1rem, -0.1rem);
    // }
  }

  &__action {
    padding: 0.5rem;
    background-color: #ffb703;
    transition: all 0.3s;
  }

  &__signin {
    display: inline-block;
    padding: 1rem 1.5rem;
    align-self: center;
  }

  &__switch {
    padding: 1rem;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section__hero {
  padding: 4rem 0;
  height: 35rem;

  .hero__description {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.section__accounting {
  padding: 4rem 0;
  text-align: center;
  border-bottom: 0.1rem solid #ddd;

  .userName {
    padding: 1rem;
  }

  .accounting__form {
    &__block {
      display: flex;
      justify-content: center;
      gap: 1rem;

      @include respond(phone) {
        flex-direction: column;
        gap: 1rem;
      }

      .input-group {
        padding: 0.4rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #aaa;

        &:focus {
          outline: none;
        }

        &-empty {
          border: 0.2rem solid red;
        }

        &-success {
          border: 0.2rem solid green;
        }
      }
    }
  }
}

.section__bill-list {
  padding: 4rem 0;
  min-height: 50rem;

  .bill-list {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: 1rem;

      &__bill {
        &-expense {
          color: red;
        }
        &-income {
          color: green;

          &::before {
            content: "-";
            opacity: 0;
          }
        }
      }

      &__description {
        flex-grow: 1;
        text-align: left;
      }
    }
  }
}

.hint {
  padding-top: 1rem;

  &__guide-to-login {
    text-align: center;
    font-size: 1.8rem;
  }
}

.section__signin {
  margin-top: 10rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .successful__block {
    padding: 4rem;
  }

  .form__signin {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;

    .label-group {
      display: block;
    }

    .input-group {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
      color: #fff;
    }
  }
}
